# Data extraction project from the divar site

# Requirements

In [1]:
pip install -U selenium

In [2]:
pip install pandas

In [12]:
pip install pysqlite3

# only supports Chrome version 102

# Import the required libraries and modules

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# Residential sales

In [23]:
url = 'https://divar.ir/s/tehran/buy-residential/' # آدرس صفحه خرید و فروش
s = Service('chromedriver.exe') # The path to your driver

driver = webdriver.Chrome(service = s)
driver.get(url)
driver2 = webdriver.Chrome(service = s)
time.sleep(3)

# Find Data

In [24]:
all_items = driver.find_elements(By.XPATH, value = "//a[@class='kt-post-card kt-post-card--outlined kt-post-card--has-chat']")
links = [item.get_attribute('href') for item in all_items]

len(links)

19

In [26]:
maxFind = 3 # Number of page Load
data_buy_residential = []
flag = 0
while True:
    try:
        for link in links:
            driver2.get(link)
            time.sleep(1)
            all_items = driver2.find_elements(By.XPATH, value = "//div[@class='post-info']")
            for item in all_items:
                try:
                    price = item.find_element(By.XPATH, value = ".//p[@class='kt-unexpandable-row__value'][1]").text
                except:
                    price = ''

                try:
                    place = item.find_element(By.XPATH, value = ".//div[@class='kt-page-title__subtitle kt-page-title__subtitle--responsive-sized']").text
                except:
                    place = ''      

                try:
                    size = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][1]").text
                except:
                    size = '-1' 

                try:
                    year = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][2]").text
                except:
                    year = '-1' 

                try:
                    room = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][3]").text
                except:
                    room = '-1'    

                data_buy_residential.append([price, place, int(size), int(year), int(room) ])
        
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight,)")
        time.sleep(3)
        all_items = driver.find_elements(By.XPATH, value = "//a[@class='kt-post-card kt-post-card--outlined kt-post-card--has-chat']")
        links = [item.get_attribute('href') for item in all_items]
        flag += 1
        if flag >= maxFind: break
    except:
        break

7 9
3 16
4 19
9 23
1 32

In [27]:
len(data_buy_residential)

32

# Residential rent

In [31]:
url = 'https://divar.ir/s/tehran/rent-residential/' # آدرس صفحه اجاره مسکونی
s = Service('chromedriver.exe') # The path to your driver

driver = webdriver.Chrome(service = s)
driver2 = webdriver.Chrome(service = s)
driver.get(url)
time.sleep(3)

# Find Data

In [32]:
all_items = driver.find_elements(By.XPATH, value = "//a[@class='kt-post-card kt-post-card--outlined kt-post-card--has-chat']")
links = [item.get_attribute('href') for item in all_items]

len(links)

11

In [33]:
maxFind = 3 # Number of page Load
data_rent_residential = []
flag = 0
while True:
    try:
        for link in links:
            driver2.get(link)
            time.sleep(1)
            all_items = driver2.find_elements(By.XPATH, value = "//div[@class='post-info']")
            for item in all_items:
                try:
                    price = item.find_element(By.XPATH, value = ".//p[@class='kt-unexpandable-row__value'][1]").text
                except:
                    price = ''

                try:
                    place = item.find_element(By.XPATH, value = ".//div[@class='kt-page-title__subtitle kt-page-title__subtitle--responsive-sized']").text
                except:
                    place = ''      

                try:
                    size = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][1]").text
                except:
                    size = '-1' 

                try:
                    year = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][2]").text
                except:
                    year = '-1' 

                try:
                    room = item.find_element(By.XPATH, value = ".//span[@class='kt-group-row-item__value'][3]").text
                except:
                    room = '-1'    

                data_rent_residential.append([price, place, int(size), int(year), int(room) ])
        
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight,)")
        time.sleep(3)
        all_items = driver.find_elements(By.XPATH, value = "//a[@class='kt-post-card kt-post-card--outlined kt-post-card--has-chat']")
        links = [item.get_attribute('href') for item in all_items]
        flag += 1
        if flag >= maxFind: break
    except:
        break

In [34]:
len(data_rent_residential)

24

# Save Data

In [29]:
import sqlite3

DBconnect = sqlite3.connect('Database-Divar.db', check_same_thread=False)
c = DBconnect.cursor()

## Save rents

In [35]:
for row in data_rent_residential:
    c.execute("INSERT INTO TblBuyRent VALUES (?,?,?,?,?,?)", (row[0], row[1], row[2], row[3], row[4], 'rent'))
    print(row)
DBconnect.commit()

['۹۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، خواجه نظام الملک | اجاره آپارتمان', 46, -1, -1]
['توافقی', 'دقایقی پیش در تهران، اکباتان | اجاره آپارتمان', 146, -1, -1]
['۲۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، حکیمیه | اجاره آپارتمان', 115, -1, -1]
['۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، جیحون، خیابان جیحون (خیابان دامپزشکی) | اجاره آپارتمان', 40, -1, -1]
['۲۰۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، سعادت\u200cآباد | اجاره آپارتمان', 125, -1, -1]
['۶۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، فلاح | اجاره آپارتمان', 50, -1, -1]
['۱۵۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، شوش | اجاره آپارتمان', 50, -1, -1]
['۱۰۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، جردن | اجاره آپارتمان', 75, -1, -1]
['۱۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، جردن | اجاره آپارتمان', 50, -1, -1]
['۲۰۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، پلیس | اجاره آپارتمان', 93, -1, -1]
['۱٬۰۰۰٬۰۰۰٬۰۰۰ تومان', 'نیم ساعت پیش در تهران، الهیه | اجاره آپارتمان', 180, -1, -1]
['۱۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، جردن | اجاره آپارتمان', 50, -1, -1]
['۲۰۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، پلیس | اجاره آپارتمان', 93, -1, -1]
['۱٬۰۰۰٬۰۰۰٬۰۰۰ تومان', 'نیم ساعت پیش در تهران، الهیه | اجاره آپارتمان', 180, -1, -1]
['۱٬۲۵۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، شاهین | اجاره آپارتمان', 100, -1, -1]
['۱٬۷۰۰٬۰۰۰٬۰۰۰ تومان', 'نیم ساعت پیش در تهران، سعادت\u200cآباد | اجاره آپارتمان', 132, -1, -1]
['۱۵۰٬۰۰۰٬۰۰۰ تومان', 'نیم ساعت پیش در تهران، ارامنه | اجاره آپارتمان', 58, -1, -1]
['بدون اتاق', '۵ ساعت پیش در تهران، بیسیم | اجاره خانه و ویلا', 60, -1, -1]
['۳۸۰٬۰۰۰٬۰۰۰ تومان', '۶ ساعت پیش در تهران، امیریه | اجاره آپارتمان', 83, -1, -1]
['۳۵۰٬۰۰۰٬۰۰۰ تومان', '۶ ساعت پیش در تهران، کوی فردوس | اجاره آپارتمان', 75, -1, -1]
['توافقی', '۶ ساعت پیش در تهران، فلاح | اجاره آپارتمان', 55, -1, -1]
['۲۰۰٬۰۰۰٬۰۰۰ تومان', '۶ ساعت پیش در تهران، تجریش | اجاره آپارتمان', 70, -1, -1]
['۲٬۰۰۰٬۰۰۰٬۰۰۰ تومان', '۶ ساعت پیش در تهران، زعفرانیه، خیابان اعجازی (خ. حسینی) | اجاره آپارتمان', 150, -1, -1]
['۸۵۰٬۰۰۰٬۰۰۰ تومان', '۶ ساعت پیش در تهران، شهرک آزادی، کوچه تیر یکم | اجاره آپارتمان', 125, -1, -1]

## Save sales

In [30]:
for row in data_buy_residential:
    c.execute("INSERT INTO TblBuyRent VALUES (?,?,?,?,?,?)", (row[0], row[1], row[2], row[3], row[4], 'buy'))
    print(row)
DBconnect.commit()

['۵۰۰ متر', 'دقایقی پیش در تهران، آبشار تهران | فروش زمین و کلنگی', -1, -1, -1]
['۵۵۰ متر', 'دقایقی پیش در تهران، آسمان | فروش زمین و کلنگی', -1, -1, -1]
['توافقی', 'دقایقی پیش در تهران، دروس | فروش آپارتمان', 195, -1, -1]
['توافقی', 'دقایقی پیش در تهران، دروس | فروش آپارتمان', 235, -1, -1]
['۳۳٬۷۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، دروس | فروش آپارتمان', 270, -1, -1]
['توافقی', 'دقایقی پیش در تهران، پاسداران | فروش آپارتمان', 300, -1, -1]
['۶٬۳۵۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، ستارخان | فروش آپارتمان', 125, -1, -1]
['یک', 'دقایقی پیش در تهران، آرژانتین | فروش خانه و ویلا', 230, -1, -1]
['۷۴۲٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، اندیشه | فروش آپارتمان', 58, -1, -1]
['۱٬۱۵۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، دریاچه شهدای خلیج فارس | فروش آپارتمان', 100, -1, -1]
['۳٬۳۵۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، اوقاف | فروش آپارتمان', 95, -1, -1]
['۱۷٬۵۰۰٬۰۰۰٬۰۰۰ تومان', 'یک ربع پیش در تهران، قلهک، خیابان یخچال (خ. دکتر شریعتی) | فروش آپارتمان', 185, -1, -1]
['۱٬۱۰۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، تهران\u200cسر | فروش آپارتمان', 100, -1, -1]
['۵۳۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، اندیشه | فروش آپارتمان', 51, -1, -1]
['۱۱٬۳۰۰٬۰۰۰٬۰۰۰ تومان', 'دقایقی پیش در تهران، قیطریه | فروش آپارتمان', 125, -1, -1]
['توافقی', 'یک ربع پیش در تهران، پاسداران | فروش آپارتمان', 180, -1, -1]
['۴٬۳۹۹٬۰۰۰٬۰۰۰ تومان', 'نیم ساعت پیش در تهران، پونک | فروش آپارتمان', 83, -1, -1]
['۵۲۰ متر', 'یک ربع پیش در تهران، شهریار | فروش زمین و کلنگی', -1, -1, -1]
['۲۴۳ متر', 'نیم ساعت پیش در تهران، جردن | فروش زمین و کلنگی', -1, -1, -1]
['۳۰۰٬۰۰۰٬۰۰۰ تومان', '۱ ساعت پیش در تهران، چیتگر | فروش آپارتمان', 60, -1, -1]
['۲۴٬۰۰۰٬۰۰۰٬۰۰۰ تومان', '۱ ساعت پیش در تهران، قیطریه | فروش آپارتمان', 240, -1, -1]
['۷٬۵۰۰٬۰۰۰٬۰۰۰ تومان', '۱ ساعت پیش در تهران، اختیاریه | فروش آپارتمان', 120, -1, -1]
['۸٬۴۰۰٬۰۰۰٬۰۰۰ تومان', '۱ ساعت پیش در تهران، هروی | فروش آپارتمان', 156, -1, -1]
['توافقی', '۳ ساعت پیش در تهران، میدان انقلاب | فروش آپارتمان', 135, -1, -1]
['۱٬۶۲۰٬۰۰۰٬۰۰۰ تومان', '۳ ساعت پیش در تهران، کوثر، خیابان هفده شهریور | فروش آپارتمان', 84, -1, -1]
['۱٬۵۰۰٬۰۰۰٬۰۰۰ تومان', '۳ ساعت پیش در تهران، زمزم | فروش آپارتمان', 60, -1, -1]
['پنج یا بیشتر', '۳ ساعت پیش در تهران، آبشار تهران | فروش خانه و ویلا', 500, -1, -1]
['۱٬۳۷۵٬۰۰۰٬۰۰۰ تومان', '۳ ساعت پیش در تهران، تهرانپارس غربی | فروش آپارتمان', 125, -1, -1]
['۹٬۵۰۰٬۰۰۰٬۰۰۰ تومان', '۴ ساعت پیش در تهران، تجریش | فروش آپارتمان', 110, -1, -1]
['دو', '۴ ساعت پیش در تهران، سعیدآباد | فروش خانه و ویلا', 110, -1, -1]
['توافقی', '۴ ساعت پیش در تهران، قیطریه | فروش آپارتمان', 110, -1, -1]
['توافقی', '۴ ساعت پیش در تهران، سعادت\u200cآباد | فروش آپارتمان', 100, -1, -1]